<%= simple_form_for @allocation do |f| %>

  <%= f.error_notification %>

  <%= f.input :reason, label: "Motivo da alocação:" %>

  <%= f.association :placement, label_method: :description, value_method: :id, label: "Local de alocação:" %>

  <div id="items">
    <%= f.simple_fields_for :items do |i| %>
      <%= render "item_fields", :f => i %>
    <% end %>
    <%= link_to_add_association 'Adicionar item', f, :items %>
  </div>

  <%= f.submit "Salvar" %>

<% end %>
