
<%= allocation_form.hidden_field :id if defined? acquisition %>
<div class="row">
  <div class="col">
    <%= allocation_form.input :date, label: "Data", as: :string, input_html: {value: localize(allocation_form.object.date), class: "date-input"} %>
    <%= allocation_form.association :origin, label: "Origem dos items" unless defined? acquisition %>
  </div>

  <div class="col">
    <%= allocation_form.submit "Salvar", class: "btn btn-primary btn-block mt-4" unless defined? acquisition%>
    <%= allocation_form.association :destination, label: "Destino dos items", wrapper_html: {class: (defined?(acquisition) ? "" : "mt-4")} %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= allocation_form.input :reason, label: "Motivo desta operação" %>
  </div>
</div>

<div class="d-flex justify-content-around">

  <% if defined? acquisition %>
    <%= link_to_add_association fa_icon(:plus, text: "Monitor"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'Screen' }}  %>
    <%= link_to_add_association fa_icon(:plus, text: "Computador"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'Computer' }} %>
    <%= link_to_add_association fa_icon(:plus, text: "Impressora/Scanner"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'Printer' }} %>
    <%= link_to_add_association fa_icon(:plus, text: "Dispositivo de Rede"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'NetworkDevice' }} %>
    <%= link_to_add_association fa_icon(:plus, text: "DVR"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'DvrDevice' }} %>
    </div> <div class="d-flex justify-content-around">
    <%= link_to_add_association fa_icon(:plus, text: "Telefone IP"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'IpPhone' }} %>
    <%= link_to_add_association fa_icon(:plus, text: "Câmera"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'IpCamera' }} %>
    <%= link_to_add_association fa_icon(:plus, text: "Dispositivo Help"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'HelpDevice' }} %>
    <%= link_to_add_association fa_icon(:plus, text: "Outros"), allocation_form, :stock_item_groups, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", partial: "stock_items/group_partial", render_options:  {locals: {acquisition: true }} %>
  <% else %>
    <%= link_to_add_association fa_icon(:plus, text: "Plaqueta"), allocation_form, :items, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint" %>
    <%= link_to_add_association fa_icon(:plus, text: "Outros"), allocation_form, :stock_item_groups, class: "btn btn-secondary btn-block m-1", "data-association-insertion-node" => "#insertionPoint", partial: "stock_items/group_partial" %>
  <% end %>

</div>

<div id="items-container" class="d-flex justify-content-around flex-wrap">

  <div id="insertionPoint" hidden></div>

  <%= allocation_form.simple_fields_for :items do |item_form| %>
    <%= render "item_fields", f: item_form, type: item_form.object.parkable_item_type %>
  <% end %>

  <%= allocation_form.simple_fields_for :stock_item_groups do |stock_item_groups_form| %>
    <% if defined? acquisition %>
      <%= render "stock_items/group_partial", f: stock_item_groups_form, acquisition: true %>
    <% else %>
      <%= render "stock_items/group_partial", f: stock_item_groups_form %>
    <% end %>
  <% end %>

</div>