
<%= f.association :placement, label: "Local de alocação" %>
<%= f.input :reason, label: "Motivo da alocação" %>

<div class="col d-flex justify-content-around flex-wrap">
  <div id="insertionPoint" hidden></div>
  <% logger.debug "***DEBUG*** " + allocation.items.inspect %>
  <% allocation.items.each do |item| %>
    <%= f.simple_fields_for item do |f2| %>
      <%= render "item_fields", f: f2, type: item.parkable_item_type %>
    <% end %>
  <% end %>
</div>


<%= link_to_add_association 'Adicionar Plaqueta', f, :items, class: "btn btn-secondary", "data-association-insertion-node" => "#insertionPoint" %>
