
<div class="row">
  <div class="col">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="col-2" scope="col">Data</th>
          <th class="col-2" scope="col">Operador responsável</th>
          <th class="col-2" scope="col">Origem</th>
          <th class="col-2" scope="col">Destino</th>
          <th class="col-2" scope="col">Número de itens</th>
          <th class="col-1" scope="col"><%= link_to fa_icon(:filter), "#", class: "btn btn-primary"  %></th>
          <th class="col-1" scope="col"><%= link_to fa_icon("plus-circle"), new_allocation_path, class: "btn btn-primary"%></th>
        </tr>
      </thead>

      <tbody>
        <% @allocations.each do |allocation| %>
          <tr scope="row">
            <td class="col-2"><%= localize allocation.created_at.to_date %></td>
            <td class="col-2"><%= link_to allocation.operator, allocation.operator, class: "text-info" %></td>
            <td class="col-2"><%= link_to allocation.get_origin, allocation.get_origin, class: "text-info"%></td>
            <td class="col-2"><%= link_to allocation.destination, allocation.destination, class: "text-info"%></td>
            <td class="col-2"><%= allocation.count_items %></td>
            <td class="col-1"><%= link_to fa_icon("info-circle"), allocation, class: "btn btn-info" %></td>
            <td class="col-1"><%= link_to fa_icon(:pencil), edit_allocation_path(allocation), class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">

  </div>
</div>

