<p id="notice"><%= notice %></p>

<h1>Listagem de Alocações</h1>

<table>
  <thead>
    <tr>
      <th>Motivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <tr>
        <td><%= allocation.reason %></td>
        <td><%= link_to 'Detalhes', allocation %></td>
        <td><%= link_to 'Editar', edit_allocation_path(allocation) %></td>
        <td><%= link_to 'Excluir', allocation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allocation', new_allocation_path %>
