
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-50"><label>Data:</label></td>
        <td><%= localize @allocation.date %></td>
      </tr>
      <tr>
        <td class="w-50"><label>Origem da alocação:</label></td>
        <td><%= link_to @allocation.get_origin, placement_path(@allocation.get_origin), class: "text-info" %></td>
      </tr>
      <tr>
        <td class="w-50"><label>Destino da alocação:</label></td>
        <td><%= link_to @allocation.destination, placement_path(@allocation.destination), class: "text-info" %></td>
      </tr>
    </table>
  </div>
  <div class="col">
    <table class="table">
      <tr> <td colspan="2">
        <div class="d-flex justify-content-around">
          <%= link_to fa_icon(:pencil, text: "Editar"), edit_allocation_path(@allocation), class: "btn btn-primary btn-block m-0 mx-1" %>
          <%= link_to fa_icon(:list, text: "Voltar"), :back, class: "btn btn-secondary btn-block m-0 mx-1" %>
        </div>
      </td> </tr>
      <tr>
        <td class="w-50"><label>Operador responsável:</label></td>
        <td><%= link_to @allocation.operator, operator_path(@allocation.operator), class: "text-info" %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-25"><label>Motivo:</label></td>
        <td class="w-75"><%= simple_format @allocation.reason %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Resumo de items com plaqueta</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @type_counts, fa_icon("chevron-left"), param_name: :sum_items_page %>
      <%= link_to_next_page @type_counts, fa_icon("chevron-right"), param_name: :sum_items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Quantidade</th>
      </tr>
      <% @type_counts.each do |type, amount| %>
        <tr scope="row">
          <td><%= type %></td>
          <td><%= amount %></td>
        </tr>
      <% end %>
      <tr> <td colspan="2"> <small> <%= page_entries_info @type_counts %> </small> </td> </tr>
    </table>
  </div>

  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Items sem plaqueta</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @stock_item_groups, fa_icon("chevron-left"), param_name: :stock_items_page %>
      <%= link_to_next_page @stock_item_groups, fa_icon("chevron-right"), param_name: :stock_items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Quantidade</th>
      </tr>
      <% @stock_item_groups.each do |item| %>
        <tr scope="row">
          <td><%= item.stock_item.short_description %></td>
          <td><%= item.quantity %></td>
        </tr>
      <% end %>
      <tr> <td colspan="2"> <small> <%= page_entries_info @stock_item_groups %> </small> </td> </tr>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Lista de itens com plaqueta</h5>
    <div class="d-inline float-right">
      <%#= link_to_prev_page @items, fa_icon("chevron-left"), param_name: :items_page %>
      <%#= link_to_next_page @items, fa_icon("chevron-right"), param_name: :items_page %>
      <%= paginate @items, param_name: :items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col">Plaqueta</th>
        <th scope="col">Descrição</th>
        <th scope="col">Número de série</th>
        <th scope="col">Local atual</th>
        <th scope="col">Descartado?</th>
      </tr>
      <% @items.each do |item| %>
        <tr scope="row" data-link="<%= item_path(item) %>">
          <td><%= item.plate %></td>
          <td><%= item %></td>
          <td><%= item.serial %></td>
          <td><%= item.placement %></td>
          <td><%= item.isDischarged ? fa_icon(:check, text: "Sim") : fa_icon(:times, text: "Não") %></td>
        </tr>
      <% end %>
      <tr> <td colspan="5"> <small> <%= page_entries_info @items %> </small> </td> </tr>
    </table>
  </div>
</div>