
<div class="row">
  <div class="col">
    <p>
      <strong>Local de Alocação:</strong>
      <%= link_to @allocation.placement, placement_path(@allocation.placement), class: "text-info" %>
    </p>

    <p>
      <strong>Operador responsavel:</strong>
      <%= link_to @allocation.operator.name, operator_path(@allocation.operator), class: "text-info" %>
    </p>
  </div>
  <div class="col">
    <p>
      <strong>Motivo:</strong>
      <%= @allocation.reason %>
    </p>
  </div>
</div>

<div class="row">
<div class="col">
  <h4 class="text-center">Itens</h4>
  <table class="table table-sm table-hover">
    <tr>
      <th scope="col">Plaqueta</th>
      <th scope="col">Tipo</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Número de serie</th>
      <th scope="col">Valor</th>
    </tr>
<% @allocation.items.each do |item| %>
    <tr scope="row">
      <td><%= link_to item.plate, item_path(item), class: "text-info" %></td>
      <td><%= item.item_type.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.model %></td>
      <td><%= item.serial %></td>
      <td><%= number_to_currency item.value, :locale => :pt_BR %></td>
    </tr>
<% end %>
</table>
</div>
</div>

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <%= link_to 'Editar', edit_allocation_path(@allocation), class: "btn btn-primary btn-block text-white" %>
  </div>
</div>
