<%= simple_form_for(@operator) do |f| %>

  <div class="row">
    <div class="col">
      <%= f.error_notification %>
      <% @operator.errors.inspect %>
      <% @operator.errors.full_messages_for(:base).each do |m| %>
        <p><%= m %></p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :name , label: "Nome completo:" %>
    </div>
    <div class="col">
      <%= f.input :email, label: "E-mail:" %>
    </div>
  </div>

  <div class="row">
    <% unless @operator.new_record? then %><div class="col"><%= f.input :updating_password, label: "Atualizar senha?", as: :select, include_blank: false %></div> <% end %>
    <div class="col"><%= f.input :password, label: "Senha:" %></div>
    <div class="col"><%= f.input :password_confirmation, label: "Confirme sua senha:" %></div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :isAdmin, label: "Administrador?", as: :select, include_blank: false if current_user.isAdmin %>
    </div>
    <div class="col">
      <%= f.input :isBlocked, label: "Bloqueado?", as: :select, include_blank: false unless @operator.new_record? %>
    </div>
  </div>

  <div class="row">
    <div class="col">
       <%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
    </div>

    <div class="col">
      <%= link_to "Cancelar", :back, class: "btn btn-secondary btn-block" %>
    </div>
  </div>

<% end %>
