<%= simple_form_for(@operator) do |f| %>

  <div class="row">
    <div class="col">
      <%= f.error_notification %>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <%= f.input :name , label: "Nome completo:" %>
      <%= f.input :email, label: "E-mail:" %>
      <%= f.input :password, label: "Senha:" %>
      <%= f.input :password_confirmation, label: "Confirme sua senha:" %>
    </div>

    <div class="col">
      <%= f.input :canAlocate, label: "Pode alocar?", as: :select %>
      <%= f.input :canBuy, label: "Pode fazer aquisições?", as: :select %>
      <%= f.input :isAdmin, label: "Administrador?", as: :select %>
      <%= f.input :isBlocked, label: "Bloqueado?", as: :select unless @operator.new_record? %>
    </div>

  </div>

  <div class="row">
    <div class="col">
       <%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
    </div>

    <div class="col">
      <%= link_to "Cancelar", :back, class: "btn btn-secondary btn-block" %>
    </div>
  </div>

<% end %>
