
<div class="row">
  <div class="col">
    <div class="float-right"><%= paginate @operators %></div>
    <table class='table table-hover text-center'>
      <thead>
        <tr>
          <th class="col-3" scope="col">Nome</th>
          <th class="col-3" scope="col">E-mail</th>
          <th class="col-1" scope="col">Alocador?</th>
          <th class="col-1" scope="col">Comprador?</th>
          <th class="col-1" scope="col">Administrador?</th>
          <th class="col-1" scope="col">Bloqueado?</th>
          <th class="col-1" scope="col"><%= link_to fa_icon(:filter), "#", class: "btn btn-primary"  %></th>
          <th class="col-1" scope="col"><%= link_to fa_icon("plus-circle"), new_operator_path, class: "btn btn-primary"  %></th>
        </tr>
      </thead>

      <tbody>
        <% @operators.each do |operator| %>
          <tr scope="row">
            <td class="col-3"><%= operator.name %></td>
            <td class="col-3"><%= mail_to operator.email %></td>
            <td class="col-1"><%= operator.canAlocate ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"N達o") %></td>
            <td class="col-1"><%= operator.canBuy ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"N達o") %></td>
            <td class="col-1"><%= operator.isAdmin ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"N達o") %></td>
            <td class="col-1"><%= operator.isBlocked ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"N達o") %></td>
            <td class="col-1"><%= link_to fa_icon("info-circle"), operator, class: "btn btn-info" %></td>
            <td class="col-1"><%= link_to fa_icon(:pencil), edit_operator_path(operator), class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">

  </div>
</div>
