<p id="notice"><%= notice %></p>

<h1>Listagem de Operadores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Pode Alocar?</th>
      <th>Pode Comprar?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operators.each do |operator| %>
      <tr>
        <td><%= operator.name %></td>
        <td><%= operator.email %></td>
        <td><%= operator.canAlocate %></td>
        <td><%= operator.canBuy %></td>
        <td><%= link_to 'Detalhes', operator %></td>
        <td><%= link_to 'Editar', edit_operator_path(operator) %></td>
        <td><%= link_to 'Excluir', operator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Operator', new_operator_path %>
