
<div class="row">
  <div class="col">
    <table class='table table-hover text-center'>
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">Pode Alocar?</th>
          <th scope="col">Pode Comprar?</th>
          <th scope="col">Administrador?</th>
          <th scope="col">Bloqueado?</th>
          <th colspan="2" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @operators.each do |operator| %>
          <tr scope="row">
            <td><%= operator.name %></td>
            <td><%= mail_to operator.email %></td>
            <td><%= operator.canAlocate ? "Sim" : "N達o" %></td>
            <td><%= operator.canBuy ? "Sim" : "N達o" %></td>
            <td><%= operator.isAdmin ? "Sim" : "N達o" %></td>
            <td><%= operator.isBlocked ? "Sim" : "N達o" %></td>
            <td><%= link_to 'Detalhes', operator, class: "btn btn-info btn-sm text-white" %></td>
            <td><%= link_to 'Editar', edit_operator_path(operator), class: "btn btn-secondary btn-sm text-white" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <%= link_to 'Registrar novo operador', new_operator_path, class: "btn btn-primary btn-block text-white"  %>
  </div>
</div>
