<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do operador:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= mail_to @operator.email %>
</p>

<p>
  <strong>Pode Alocar?</strong>
  <%= @operator.canAlocate %>
</p>

<p>
  <strong>Pode Comprar?</strong>
  <%= @operator.canBuy %>
</p>

<p>
  <strong>Administrador?</strong>
  <%= @operator.isAdmin %>
</p>

<p>
  <strong>Bloqueado?</strong>
  <%= @operator.isBlocked %>
</p>

<%= link_to 'Editar', edit_operator_path(@operator) %> |
<%= link_to 'Voltar', operators_path %>
