
<div class="row">
  <div class="col justify-content-end">
    <p>
      <label>Nome do operador:</label>
      <%= @operator.name %>
    </p>

    <p>
      <label>E-mail:</label>
      <%= mail_to @operator.email %>
    </p>
  </div>

  <div class="col">
    <table class="table table-sm table-hover">
      <thead>
        <th colspan="2" class="text-center">Permissões</th>
      </thead>
      <tbody>
        <tr>
          <td><label>Pode Alocar?</label></td>
          <td><%= @operator.canAlocate ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
        </tr>
        <tr>
          <td><label>Pode Comprar?</label></td>
          <td><%= @operator.canBuy ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
        </tr>
        <tr>
          <td><label>Administrador?</label></td>
          <td><%= @operator.isAdmin ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
          </tr>
        <tr>
          <td><label>Bloqueado?</label></td>
          <td><%= @operator.isBlocked ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <%= link_to 'Editar', edit_operator_path(@operator), class: "btn btn-primary btn-block text-white" %>
  </div>
</div>
