
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-25"><label>Nome:</label></td>
        <td><%= @operator.name %></td>
      </tr>
      <tr>
        <td class="w-25"><label>E-mail:</label></td>
        <td><%= @operator.email %></td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table">
      <tr> <td>
        <div class="d-flex justify-content-around">
          <%= link_to 'Editar', edit_operator_path(@operator), class: "btn btn-primary btn-block m-0 mx-1" %>
          <%= link_to fa_icon(:list, text: "Voltar"), :back, class: "btn btn-secondary btn-block m-0 mx-1" %>
        </div>
      </td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-sm table-hover text-center">
      <thead>
        <th colspan="4" class="text-center">Permissões</th>
      </thead>
      <tbody>
        <tr>
          <td class="w-25"><label>Pode Alocar?</label></td>
          <td class="w-25"><%= @operator.canAlocate ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>

          <td class="w-25"><label>Pode Comprar?</label></td>
          <td class="w-25"><%= @operator.canBuy ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
        </tr>
        <tr>
          <td class="w-25"><label>Administrador?</label></td>
          <td class="w-25"><%= @operator.isAdmin ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>

          <td class="w-25"><label>Bloqueado?</label></td>
          <td class="w-25"><%= @operator.isBlocked ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border rounded p-2 m-2">
    <h5 class="d-inline">Últimas Aquisições</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @acquisitions, fa_icon("chevron-left"), param_name: :ac_page %>
      <%= link_to_next_page @acquisitions, fa_icon("chevron-right"), param_name: :ac_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th class="col-4" scope="col">Data</th>
        <th class="col-4" scope="col">Responsável</th>
        <th class="col-4" scope="col">Fornecedor</th>
        <th class="col-auto" scope="col"></th>
      </tr>
      <% @acquisitions.each do |acquisition| %>
        <tr scope="row">
          <td class="col-4"><%= acquisition.date %></td>
          <td class="col-4"><%= acquisition.operator %></td>
          <td class="col-4"><%= acquisition.supplier %></td>
          <td class="col-auto"><%= link_to fa_icon("info-circle"), acquisition, class: "text-info" %></td>
        </tr>
      <% end %>
      <tr> <td colspan="4"> <small> <%= page_entries_info @acquisitions %> </small> </td> </tr>
    </table>
  </div>

  <div class="col border rounded p-2 m-2">
    <h5 class="d-inline">Últimas Alocações</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @allocations, fa_icon("chevron-left"), param_name: :al_page %>
      <%= link_to_next_page @allocations, fa_icon("chevron-right"), param_name: :al_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th class="col-4" scope="col">Data</th>
        <th class="col-4" scope="col">Resonsável</th>
        <th class="col-4" scope="col">items</th>
        <th  class="col-auto" scope="row"></th>
      </tr>
      <% @allocations.each do |allocation| %>
        <tr scope="row">
          <td class="col-4"><%= allocation.date %></td>
          <td class="col-4"><%= allocation.operator %></td>
          <td class="col-4"><%= allocation.count_items %></td>
          <td class="col-auto"><%= link_to fa_icon("info-circle"), allocation, class: "text-info" %></td>
        </tr>
      <% end %>
      <tr> <td colspan="4"> <small> <%= page_entries_info @allocations %> </small> </td> </tr>
    </table>
  </div>
</div>
