<%= simple_form_for(@placement) do |f| %>

  <div class="row">
    <div class="col">
      <%= f.error_notification %>
      <% if @placement.errors[:base].any? %>
        <div class="alert alert-warning">
          <% @placement.errors.full_messages_for(:base).each do |m| %>
            <p><%= m %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :state, as: :select, prompt: "UF", collection: Placement::STATES_BR %>
    </div>
    <div class="col">
      <%= f.input :city, label: "Cidade:" %>
    </div>
    <div class="col">
      <%= f.input :other, label: "Outras Informações:" %>
    </div>
  </div>

  <div class="row">
    <div class="col"> <%= f.input :contact, label: "Contatos:" %> </div>
    <div class="col"> <%= f.input :address, label: "Endereço:" %> </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= f.submit "Salvar", class: "btn btn-primary btn-block" %>
    </div>

    <div class="col">
      <%= link_to "Cancelar", :back, class: "btn btn-secondary btn-block" %>
    </div>
  </div>

<% end %>
