
<% admin = current_user.isAdmin %>
<div class="row">
  <div class="col">
    <div class="float-right"><%= paginate @placements %></div>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="col-8" scope="col">Descrição</th>
          <th class="col-2" scope="col">Contatos</th>
          <th class="col-2" scope="col">Endereço</th>
          <% if admin %>
            <th class="col-2" scope="col">Items</th>
            <th class="col-1" scope="col"><%= link_to fa_icon(:filter), "#", class: "btn btn-primary" %></th>
            <th class="col-1" scope="col"><%= link_to fa_icon("plus-circle"), new_placement_path, class: "btn btn-primary" %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @placements.each do |placement| %>
          <tr scope="row">
            <td class="col-8"><%= placement %></td>
            <td class="col-2"><%= simple_format placement.contact %></td>
            <td class="col-2"><%= simple_format placement.address %></td>
            <% if admin %>
              <td class="col-2"><%= placement.item_count %></td>
              <td class="col-1"><%= link_to fa_icon("info-circle"), placement, class: "btn btn-info" %></td>
              <td class="col-1"><%= link_to fa_icon(:pencil), edit_placement_path(placement), class: "btn btn-secondary" %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>