<p id="notice"><%= notice %></p>

<h1>Listagem de Locais</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Contatos</th>
      <th>Endereço</th>
      <% if current_user.isAdmin %>
        <th>Numero de items</th>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @placements.each do |placement| %>
      <tr>
        <td><%= link_to placement, placement_path(placement) %></td>
        <td><%= placement.contact %></td>
        <td><%= placement.address %></td>
        <% if current_user.isAdmin %>
          <td><%= placement.items.count %></td>
          <td><%= link_to 'Detalhes', placement %></td>
          <td><%= link_to 'Editar', edit_placement_path(placement) %></td>
          <td><%#= link_to 'Excluir', placement, method: :delete, data: { confirm: 'Você tem certeza??' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.isAdmin %>
  <%= link_to 'Cadastrar novo local', new_placement_path %>
<% end %>
