
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-25"><label>Descrição:</label></td>
        <td><%= @placement.description %></td>
      </tr>

      <tr>
        <td class="w-25"><label>Contatos:</label></td>
        <td><%= @placement.contact %></td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table">
      <tr> <td>
        <div class="d-flex justify-content-around">
          <%= link_to 'Editar', edit_placement_path(@placement), class: "btn btn-primary btn-block m-0 mx-1" %>
          <%= link_to fa_icon(:list, text: "Voltar"), :back, class: "btn btn-secondary btn-block m-0 mx-1" %>
        </div>
      </td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-25"><label>Endereço:</label></td>
        <td><%= @placement.address %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Aquisições para este local</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @acquisitions, fa_icon("chevron-left"), param_name: :ac_page %>
      <%= link_to_next_page @acquisitions, fa_icon("chevron-right"), param_name: :ac_page %>
    </div>
    <table class="table table-hover table-sm">
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Responsável</th>
        <th scope="col">Fornecedor</th>
        <th scope="col"></th>
      </tr>
      <% @acquisitions.each do |acquisition| %>
        <tr scope="row">
          <td> <%= localize acquisition.date %> </td>
          <td> <%= acquisition.operator %> </td>
          <td> <%= acquisition.supplier %> </td>
          <td> <%= link_to fa_icon("info-circle"), acquisition, class: "text-info" %> </td>
        </tr>
      <% end %>
      <tr> <td colspan="4"> <small> <%= page_entries_info @acquisitions %> </small> </td> </tr>
    </table>
  </div>

  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Alocações para este local</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @allocations, fa_icon("chevron-left"), param_name: :al_page %>
      <%= link_to_next_page @allocations, fa_icon("chevron-right"), param_name: :al_page %>
    </div>
    <table class="table table-hover table-sm">
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Resposável</th>
        <th scope="col"></th>
      </tr>
      <% @allocations.each do |allocation| %>
        <tr scope="row">
          <td> <%= localize allocation.date %> </td>
          <td> <%= allocation.operator %> </td>
          <td> <%= link_to fa_icon("info-circle"), allocation, class: "text-info" %> </td>
        </tr>
      <% end %>
      <tr> <td colspan="3"> <small> <%= page_entries_info @allocations %> </small> </td> </tr>
    </table>
  </div>
</div>

<div class="row text-center mt-3">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Resumo de items com plaqueta</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @type_counts, fa_icon("chevron-left"), param_name: :sum_items_page %>
      <%= link_to_next_page @type_counts, fa_icon("chevron-right"), param_name: :sum_items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Quantidade</th>
      </tr>
      <% @type_counts.each do |type, amount| %>
        <tr scope="row">
          <td><%= type %></td>
          <td><%= amount %></td>
        </tr>
      <% end %>
      <tr> <td colspan="2"> <small> <%= page_entries_info @type_counts %> </small> </td> </tr>
    </table>
  </div>

  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Items sem plaqueta</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @stock_item_counts, fa_icon("chevron-left"), param_name: :stock_items_page %>
      <%= link_to_next_page @stock_item_counts, fa_icon("chevron-right"), param_name: :stock_items_page %>
    </div>
    <table class="table table-hover table-sm">
      <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Baixa</th>
      </tr>
      <% @stock_item_counts.each do |item| %>
        <tr scope="row">
          <td> <%= item.stock_item.short_description %> </td>
          <td> <%= item.count %> </td>
          <td>
            <%= form_for :stock_item_count, wrapper: :inline_form, url: stock_items_placement_path(@placement), method: :delete, html: { class: 'form-inline d-flex justify-content-around' } do |f| %>
              <div class="input-group">
                <%= f.hidden_field :stock_item_id, value: item.stock_item_id %>
                <%= f.text_field :count, style: "width: 4em", class: "form-control"%>
                <button type="submit" class="btn btn-danger btn-sm" data-confirm="Tem certeza desta ação?"> <%=fa_icon("minus-circle")%> </button>
              </div>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr> <td colspan="3"> <small> <%= page_entries_info @stock_item_counts %> </small> </td> </tr>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Items com plaqueta atualmente neste local</h5>
    <div class="d-inline float-right">
      <%#= link_to_prev_page @items, fa_icon("chevron-left"), param_name: :items_page %>
      <%#= link_to_next_page @items, fa_icon("chevron-right"), param_name: :items_page %>
      <%= paginate @items, param_name: :items_page %>
    </div>
    <table class="table table-hover table-sm">
      <tr>
        <th scope="col">Plaqueta</th>
        <th scope="col">Descrição</th>
        <th scope="col">Número de série</th>
        <th></th>
      </tr>
      <% @items.each do |item| %>
        <tr scope="row">
          <td> <%= item.plate %> </td>
          <td> <%= item %> </td>
          <td> <%= item.serial %> </td>
          <td> <%= link_to fa_icon("info-circle"), item, class: "text-info" %></td>
        </tr>
      <% end %>
      <tr> <td colspan="4"> <small> <%= page_entries_info @items %> </small> </td> </tr>
    </table>
  </div>
</div>