<div class="row">
  <div class="col-6">
    <p>
      <label>Descrição:</label>
      <%= @placement %>
    </p>
  </div>
  <div class="col-6">
    <p>
      <%= link_to 'Editar', edit_placement_path(@placement), class: "btn btn-primary btn-block" %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>
      <label>Contatos:</label>
      <%= @placement.contact %>
    </p>
  </div>

  <div class="col">
    <p>
      <label>Endereço:</label>
      <%= @placement.address %>
    </p>
  </div>
</div>


<div class="row text-center">
  <div class="col">
    <h5>Items</h5>
    <% if @placement.items.any? %>
      <table class="table table-hover table-sm">
        <tr>
          <th class="col-4" scope="col">Plaqueta</th>
          <th class="col-4" scope="col">Descrição</th>
          <th class="col-4" scope="col">Número de série</th>
        </tr>
        <% @placement.items.each do |item| %>
          <tr scope="row">
            <td> <%= link_to item.plate, item_path(item), class: "text-info" %> </td>
            <td> <%= item %> </td>
            <td> <%= item.serial %> </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      Nenhum item neste local
    <% end %>
  </div>

  <div class="col">
    <% if @placement.stock_item_counts.any? %>
      <h5>Items de estoque</h5>
      <table class="table table-hover table-sm">
        <tr>
          <th class="col-9" scope="col">Descrição</th>
          <th class="col-3" scope="col">Quantidade</th>
        </tr>
        <% @placement.stock_item_counts.each do |item| %>
          <tr scope="row">
            <td class="col-9"> <%= item.stock_item.short_description %> </td>
            <td class="col-3"> <%= item.count %> </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      Nenhum item de estoque neste local
    <% end %>
  </div>
</div>