<h1>Bem vindo ao sistema de Park do Grupo Casebrás</h1>
<p>Favor selecione o que deseja fazer</p>

<div> </div></p><%= link_to "Manipular operadores", controller: "operators" %> </div>
<div> <%= link_to "Manipular locais de alocação", controller: "placements" %> </div>
<div> <%= link_to "Manipular itens de inventorio", controller: "items" %> </div>
<div> <%= link_to "Manipular alocações", controller: "allocations" %> </div>
<div> <%= link_to "Manipular compras", controller: "acquisitions" %> </div>