
<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="filter_modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= fa_icon :times %></span>
        </button>
      </div>
      <%= simple_form_for :company, method: :get do |f| %>
        <div class="modal-body">
          <%= f.input :name, label: false, placeholder: "Nome", as: :string %>
          <%= f.input :cnpj, label: false, placeholder: "CNPJ", as: :string %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Aplicar", class: "btn btn-primary btn-block m-0 mr-1" %>
          <%= link_to "Remover Filtros", companies_path, class: "btn btn-danger btn-block m-0 ml-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col"><%=fa_icon("building", text: "Name")%></th>
      <th scope="col"><%=fa_icon("info", text: "CNPJ")%></th>
      <th scope="col"><%=fa_icon("money-bill-alt", text: "Valor do Park")%></th>
      <% if @current_user.isAdmin %> <th></th> <% end %>
      <th scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#filter_modal"><%=fa_icon :filter%></button></th>
      <% if @current_user.isAdmin %> <th scope="col"><%= link_to fa_icon("plus-circle"), new_company_path, class: "btn btn-primary" %></th> <% end %>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr scope="row">
        <td><%= company.name %></td>
        <td><%= company.cnpj %></td>
        <td><%= number_to_currency company.park_value %></td>
        <td><%= link_to fa_icon("info-circle"), company, class: "btn btn-info" %></td>
        <% if @current_user.isAdmin %>
          <td><%= link_to fa_icon("pencil-alt"), edit_company_path(company), class: "btn btn-secondary" %></td>
          <td><%= link_to fa_icon(:trash), company, method: :delete, data: { confirm: "Você tem certeza?" }, class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
    <tr> <td colspan="6"> <small> <%= page_entries_info @companies %> </small> </td> </tr>
  </tbody>
</table>
<div class="float-right"><%= paginate @companies %></div>
