
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-25"><label><%=fa_icon("building", text: "Nome:")%></label></td>
        <td><%= @company.name %></td>
      </tr>
      <tr>
        <td class="w-25"><label><%=fa_icon("info", text: "CNPJ:")%></label></td>
        <td><%= @company.cnpj %></td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table">
      <tr> <td>
        <div class="d-flex justify-content-around">
          <%= link_to fa_icon("pencil-alt", text: "Editar"), edit_company_path(@company), class: "btn btn-primary btn-block m-0 mx-1" %>
          <%= link_to fa_icon(:undo, text: "Voltar"), :back, class: "btn btn-secondary btn-block m-0 mx-1" %>
        </div>
      </td> </tr>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Aquisições desta empresa</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @acquisitions, fa_icon("chevron-left"), param_name: :ac_page %>
      <%= link_to_next_page @acquisitions, fa_icon("chevron-right"), param_name: :ac_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col"><%=fa_icon("calendar-alt", text: "Data")%></th>
        <th scope="col"><%=fa_icon("shopping-basket", text: "Fornecedor")%></th>
        <th scope="col"><%=fa_icon("user", text: "Responsável")%></th>
        <th scope="col"><%=fa_icon("map-marker-alt", text: "Destino")%></th>
      </tr>
      <% @acquisitions.each do |acquisition| %>
        <tr scope="row" data-link="<%=acquisition_path(acquisition)%>">
          <td><%= localize acquisition.date %></td>
          <td><%= acquisition.supplier %></td>
          <td><%= acquisition.operator %></td>
          <td><%= acquisition.destination %></td>
        </tr>
      <% end %>
      <tr> <td colspan="4"> <small> <%= page_entries_info @acquisitions %> </small> </td> </tr>
    </table>
  </div>

  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Itens de plaqueta desta empresa</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @items, fa_icon("chevron-left"), param_name: :stock_items_page %>
      <%= link_to_next_page @items, fa_icon("chevron-right"), param_name: :stock_items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col"><%=fa_icon("tag", text: "Plaqueta")%></th>
        <th scope="col"><%=fa_icon("info", text: "Tipo")%></th>
        <th scope="col"><%=fa_icon("map-marker-alt", text: "Local atual")%></th>
      </tr>
      <% @items.each do |item| %>
        <tr scope="row" data-link="<%=item_path(item)%>">
          <td><%= item.plate %></td>
          <td><%= item %></td>
          <td><%= link_to item.placement, item.placement, class: "text-info" %></td>
        </tr>
      <% end %>
      <tr> <td colspan="3"> <small> <%= page_entries_info @items %> </small> </td> </tr>
    </table>
  </div>
</div>