
<div class="row">
  <div class="col">
    <table class="table table-hover table-sm text-center">
      <thead>
        <tr>
          <th scope="col">Plaqueta</th>
          <th scope="col">Tipo</th>
          <th scope="col">Marca</th>
          <th scope="col">Modelo</th>
          <th scope="col">Número Serial</th>
          <th scope="col">Valor</th>
          <th scope="col">Localização Atual</th>
          <th colspan="2" scope="col"></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr scope="row">
            <td><%= item.plate %> </td>
            <td><%= item.item_type.name %></td>
            <td><%= item.brand %></td>
            <td><%= item.model %></td>
            <td><%= item.serial %></td>
            <td><%= number_to_currency item.value, :locale => :pt_BR %></td>
            <td><%= item.placements.order("created_at DESC").first %></td>
            <td><%= link_to 'detalhes', item_path(item), class: "btn btn-info btn-block btn-sm text-white" %></td>
            <td><%= link_to 'Editar', edit_item_path(item), class: "btn btn-secondary btn-block btn-sm text-white" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<%#= link_to 'New Item', new_item_path %>
