
<div class="row">
  <div class="col">
    <table class="table table-hover table-sm text-center">
      <thead>
        <tr>
          <th class="col-2" scope="col">Plaqueta</th>
          <th class="col-2" scope="col">Descrição</th>
          <th class="col-2" scope="col">Localização atual</th>
          <th class="col-2" scope="col">Número Serial</th>
          <th class="col-2" scope="col">Valor</th>
          <th class="col-1" scope="col"></th>
          <th class="col-1" scope="col"><%= link_to fa_icon(:filter), "#", class: "btn btn-primary" %></th>
        </tr>
      </thead>

      <tbody>
        <% @items.each do |item| %>
          <tr scope="row">
            <td class="col-2"><%= item.plate %> </td>
            <td class="col-2"><%= item.description %></td>
            <td class="col-2"><%= item.placement %></td>
            <td class="col-2"><%= item.serial %></td>
            <td class="col-2"><%= number_to_currency item.value %></td>
            <td class="col-1"><%= link_to fa_icon("info-circle"), item_path(item), class: "btn btn-info" %></td>
            <td class="col-1"><%= link_to fa_icon(:pencil), edit_item_path(item), class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
