
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-25"><label><%=fa_icon("tag", text: "Plaqueta:")%></label></td>
        <td><%= @item.plate %></td>
      </tr>

      <tr>
        <td class="w-25"><label><%=fa_icon("info", text: "Descrição:")%></label></td>
        <td><%= @item.to_s %></td>
      </tr>

      <tr>
        <td class="w-25"><label><%=fa_icon("hashtag", text: "Serial:")%></label></td>
        <td><%= @item.serial %></td>
      </tr>

      <tr>
        <td class="w-25"><label><%=fa_icon("money-bill-alt", text: "Valor:")%></label></td>
        <td><%= number_to_currency @item.value %></td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table">
      <tr> <td colspan="2">
        <div class="d-flex justify-content-around">
          <%= link_to fa_icon("pencil-alt", text: "Editar"), edit_item_path(@item), class: "btn btn-primary btn-block m-0 mx-1" if @current_user.isAdmin%>
          <%= link_to fa_icon(:undo, text: "Voltar"), :back, class: "btn btn-secondary btn-block m-0 mx-1" %>
        </div>
      </td> </tr>

      <%= render @item.parkable_item_type.downcase.pluralize+"/show", item: @item.parkable_item %>

      <tr>
        <td colspan="2"> <%= link_to fa_icon("external-link-alt", text: "Ir para aquisição deste produto", right: true), @item.acquisition, class:"btn btn-block btn-sm btn-info" %> </td>
      </tr>

      <tr>
        <td class="w-50"><label><%=fa_icon("trash-alt", text: "Foi Descartado?")%></label></td>
        <td><%= @item.isDischarged ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %></td>
      </tr>
    </table>
  </div>
</div>

<% if @item.isDischarged %>
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <td class="w-25"><label><%=fa_icon("comment", text: "Descrição do descarte:")%></label></td>
          <td> <%= simple_format @item.dischargeDescription %> </td>
        </tr>
      </table>
    </div>
  </div>
<% end %>


<div class="row text-center">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Últimas alocações</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @allocations, fa_icon("chevron-left"), param_name: :al_page %>
      <%= link_to_next_page @allocations, fa_icon("chevron-right"), param_name: :al_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th scope="col"><%=fa_icon("calendar-alt", text: "Data")%></th>
        <th scope="col"><%=fa_icon("map-marker-alt", text: "Local atual")%></th>
        <th scope="col"><%=fa_icon("user", text: "Responsável")%></th>
      </tr>
    <% @allocations.each do |allocation| %>
      <tr scope="row" data-link="<%=allocation_path(allocation)%>">
        <td><%= localize allocation.created_at.to_date %></td>
        <td><%= link_to allocation.destination, allocation.destination, class: "text-info"%></td>
        <td><%= link_to allocation.operator, allocation.operator, class: "text-info" %></td>
      </tr>
    <% end %>
      <tr> <td colspan="3"> <small> <%= page_entries_info @allocations %> </small> </td> </tr>
    </table>
  </div>
</div>
