
<p>
<label>Plaqueta:</label>
<%= @item.plate %>
</p>

<p>
  <label>Descrição:</label>
  <%= @item.to_s %>
</p>


<p>
  <label>Número serial:</label>
  <%= @item.serial %>
</p>

<p>
  <label>Valor: </label>
  <%= number_to_currency @item.value, :locale => :pt_BR %>
</p>

<%= render @item.parkable_item_type.downcase.pluralize+"/show", item: @item.parkable_item %>

<p>
  <label>Foi Descartado?</label>
  <%= @item.isDischarged ? fa_icon(:check, text:"Sim") : fa_icon(:times, text:"Não") %>
</p>

<% if @item.isDischarged %>
  <p>
    <label>Descrição do descarte:</label>
    <%= @item.dischargeDescription %>
  </p>
<% end %>

<%= link_to 'Editar', edit_item_path(@item), class:"btn btn-primary btn-block text-white my-3" %>

<hr>

<div class="w-50 mx-auto text-center">
<h4>Histório de alocações</h4>
<table class="table table-sm">
  <tr>
    <th scope="col">Descrição</th>
    <th scope="col">Data de alocação</th>
  </tr>
  <% @item.placements.order('created_at DESC').each do |p| %>
    <tr scope="row">
      <td><%= link_to p, placement_path(p), class: "text-info" %></td>
      <td><%= localize p.created_at, :locale => :pt_BR, :format => :short %></td>
    </tr>
  <% end %>
</table>



