
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td class="w-50"><label><%=fa_icon("info", text: "Descrição curta:")%></label></td>
        <td><%= @stock_item.short_description %></td>
      </tr>

      <tr>
        <td class="w-50"><label><%=fa_icon("comment", text: "Descrição Longa:")%></label></td>
        <td><%= @stock_item.long_description %></td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table">
      <tr> <td colspan="2">
        <div class="d-flex justify-content-around">
          <%= link_to fa_icon("pencil-alt", text: 'Editar'), edit_stock_item_path(@stock_item), class: "btn btn-primary btn-block m-0 mx-1" %>
          <%= link_to fa_icon(:undo, text: "Voltar"), :back, class: "btn btn-secondary btn-block m-0 mx-1" %>
        </div>
      </td> </tr>

      <tr>
        <td class="w-50"><label><%=fa_icon("cubes", text: "Quantidade em estoque:")%></label></td>
        <td> <%= @stock_item.quantity_in_stock %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row text-center mt-3">
  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Locais com este item</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @placements, fa_icon("chevron-left"), param_name: :pl_page %>
      <%= link_to_next_page @placements, fa_icon("chevron-right"), param_name: :pl_page %>
    </div>
    <table class="table table-hover table-sm">
      <% @placements.each do |placement| %>
        <tr scope="row">
          <td> <%= link_to placement, placement, class: "text-info" %> </td>
        </tr>
      <% end %>
      <tr> <td colspan="2"> <small> <%= page_entries_info @placements %> </small> </td> </tr>
    </table>
  </div>

  <div class="col border border-secondary rounded p-2 m-2">
    <h5 class="d-inline">Últimas Aquisições</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @acquisitions, fa_icon("chevron-left"), param_name: :ac_page %>
      <%= link_to_next_page @acquisitions, fa_icon("chevron-right"), param_name: :ac_page %>
    </div>
    <table class="table table-hover table-sm">
      <tr>
        <th scope="col"><%=fa_icon("calendar-alt", text: "Data")%></th>
        <th scope="col"><%=fa_icon("user", text: "Resposável")%></th>
        <th scope="col"><%=fa_icon("shopping-basket", text: "Fornecedor")%></th>
      </tr>
      <% @acquisitions.each do |acquisition| %>
        <tr scope="row" data-link="<%=acquisition_path(acquisition)%>">
          <td> <%= localize acquisition.date %> </td>
          <td> <%= acquisition.operator %> </td>
          <td> <%= acquisition.supplier %> </td>
        </tr>
      <% end %>
      <tr> <td colspan="3"> <small> <%= page_entries_info @acquisitions %> </small> </td> </tr>
    </table>
  </div>
</div>