
<div class="modal fade" id="filter_modal" tabindex="-1" role="dialog" aria-labelledby="filter_modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtros</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><%= fa_icon :times %></span>
        </button>
      </div>
      <%= simple_form_for :supplier, method: :get do |f| %>
        <div class="modal-body">
          <%= f.input :name, label: false, placeholder: "Nome", as: :string %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Aplicar", class: "btn btn-primary btn-block m-0 mr-1" %>
          <%= link_to "Remover Filtros", suppliers_path, class: "btn btn-danger btn-block m-0 ml-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="float-right"><%= paginate @suppliers %></div>
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th class="col-5" scope="col">Nome do fornecedor</th>
      <th class="col-4" scope="col">Email de contato</th>
      <th class="col-3" scope="col">Telefones</th>
      <th class="col-auto" scope="col"></th>
      <th class="col-auto" scope="col"><button class="btn btn-primary" data-toggle="modal" data-target="#filter_modal"><%=fa_icon :filter%></button></th>
      <th class="col-auto" scope="col"><%= link_to fa_icon("plus-circle"), new_supplier_path, class: "btn btn-primary" %></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr scope="row">
        <td class="col-5"><%= supplier.name %></td>
        <td class="col-4"><%= supplier.email %></td>
        <td class="col-3"><%= simple_format supplier.phones %></td>
        <td class="col-auto"><%= link_to fa_icon("info-circle"), supplier, class: "btn btn-info" %></td>
        <td class="col-auto"><%= link_to fa_icon(:pencil), edit_supplier_path(supplier), class: "btn btn-secondary" %></td>
        <td class="col-auto"><%= link_to fa_icon(:trash), supplier, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    <tr> <td colspan="6"> <small> <%= page_entries_info @suppliers %> </small> </td> </tr>
  </tbody>
</table>
