
<%= simple_form_for @acquisition do |f| %>

  <div class="row">
    <div class="col">
      <%= f.error_notification %>
      <% if @acquisition.errors[:base].any? or @acquisition.allocation.errors[:base].any? %>
        <div class="alert alert-warning">
          <% @acquisition.errors[:base].each do |error| %>
            <%= error %>
          <% end %>
          <% @acquisition.allocation.errors[:base].each do |error| %>
            <%= error %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= f.input :invoice_number, label: "Número da nota fiscal" %>
      <%= f.association :supplier, as: :select, label: "Fornecedor desta aquisição" %>
    </div>

    <div class="col">
      <%= f.submit "Salvar", class: "btn btn-primary btn-block mt-4" %>
      <%= f.association :company, as: :select, label: "Empresa responsável por esta compra", wrapper_html: {class:"mt-3"} %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group string required acquisition_invoice">
        <label class="control-label string required" for="acquisition_invoice"><abbr title="Campo Obrigatório">*</abbr>&nbspCópia da nota fiscal</label>
        <%= f.attachment_field :invoice, class: "form-control required string", id: "acquisition_invoice" %>
      </div>
    </div>
  </div>

  <%= f.simple_fields_for :allocation do |f2| %>
    <%= render "allocations/form", f: f2, acquisition: true %>
  <% end %>
<% end %>
