<%= simple_form_for @acquisition do |af| %>

  <%= af.error_notification %>

  <%= af.input :reason, label: "Motivo desta compra:" %>

  <%= af.input :supplier, label: "Fornecedor:" %>

  <div id='allocation'>
  <%= af.simple_fields_for :allocation do |f| %>
    <%# f.input :reason, label: "Motivo da alocação:" %>
    <%= f.association :placement, label_method: :description, value_method: :id, label: "Local de alocação:" %>

    <div class="items">
    <%= f.simple_fields_for :items do |i| %>
      <%= render "allocations/item_fields", :f => i %>
      <%= link_to_add_association 'Adicionar item', f, :items, partial: "allocations/item_fields" %>
    <% end %>
    </div>
  </div>

  <% end %>
  <%= af.submit "Salvar" %>

<% end %>