<%= simple_form_for @acquisition do |f| %>

  <div class="row">
    <div class="col">
      <%= f.error_notification %>
    </div>
  </div>

  <%= f.association :supplier, as: :select, include_blank: false, label: "Fornecedor desta aquisição" %>

  <%= f.association :company, as: :select, include_blank: false, label: "Empresa desta compra" %>

  <%= f.input :invoice_number, label: "Número da nota fiscal" %>

  <%= f.simple_fields_for :allocation do |f2| %>
    <%= render "allocations/form", f: f2 %>

    <%= link_to_add_association fa_icon(:plus) +" "+ fa_icon(:desktop), f2, :items, class: "btn btn-secondary", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'Screen' }} %>
    <%= link_to_add_association fa_icon(:plus) +" "+ fa_icon(:windows), f2, :items, class: "btn btn-secondary", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'Computer' }} %>
    <%= link_to_add_association fa_icon(:plus) +" "+ fa_icon(:print), f2, :items, class: "btn btn-secondary", "data-association-insertion-node" => "#insertionPoint", :render_options => {:locals => {:type => 'Printer' }} %>
  <% end %>

  <%= f.submit "Salvar", class: "btn btn-primary" %>


<% end %>