<%= simple_form_for @acquisition do |f| %>

  <div class="row">
    <div class="col">
      <%= f.error_notification %>
    </div>
  </div>

  <%= f.input :supplier, label: "Fornecedor desta acquisição" %>

  <%= simple_fields_for @acquisition.allocation do |f2| %>
    <%= render "allocations/form", f: f2, allocation: @acquisition.allocation %>
  <% end %>

  <%= f.submit "Salvar", class: "btn btn-primary" %>


<% end %>