
<div class="row">
  <div class="col">
    <div class="float-right"><%= paginate @acquisitions %></div>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="col-2" scope="col">Data da acquisição</th>
          <th class="col-2" scope="col">Operador Responsável</th>
          <th class="col-2" scope="col">fornecedor</th>
          <th class="col-2" scope="col">Local de alocação</th>
          <th class="col-2" scope="col">Número de itens</th>
          <th class="col-2" scope="col">Valor total</th>
          <th class="col-1" scope="col"><%= link_to fa_icon(:filter), "#", class: "btn btn-primary" %></th></th>
          <th class="col-1" scope="col"><%= link_to fa_icon("plus-circle"), new_acquisition_path, class: "btn btn-primary" %></th>
        </tr>
      </thead>

      <tbody>
        <% @acquisitions.each do |acquisition| %>
          <tr scope="row">
            <td class="col-2"><%= localize acquisition.created_at.to_date %></td>
            <td class="col-2"><%= link_to acquisition.operator.name, operator_path(acquisition.operator), class: "text-info" %></td>
            <td class="col-2"><%= acquisition.supplier %></td>
            <td class="col-2"><%= link_to acquisition.destination, placement_path(acquisition.allocation.destination), class: "text-info" %></td>
            <td class="col-2"><%= acquisition.count_items %></td>
            <td class="col-2"><%= number_to_currency acquisition.totalValue %></td>
            <td class="col-1"><%= link_to fa_icon("info-circle"), acquisition, class: "btn btn-info" %></td>
            <td class="col-1"><%= link_to fa_icon(:pencil), edit_acquisition_path(acquisition), class: "btn btn-secondary" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

