<p id="notice"><%= notice %></p>

<h1>Listagem de Aquisições</h1>

<table>
  <thead>
    <tr>
      <th>Motivo</th>
      <th>fornecedor</th>
      <th>Local de alocação</th>
      <th>Operador Responsável</th>
      <th>Numero de itens</th>
      <th>Valor total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acquisitions.each do |acquisition| %>
      <tr>
        <td><%= acquisition.reason %></td>
        <td><%= acquisition.supplier %></td>
        <td><%= acquisition.allocation ? acquisition.allocation.placement.description : "Alocação não encontrada" %></td>
        <td><%= acquisition.operator.name %></td>
        <td><%= acquisition.items.count %></td>
        <td><%= acquisition.totalValue %></td>
        <td><%= link_to 'Detalhes', acquisition %></td>
        <td><%= link_to 'Editar', edit_acquisition_path(acquisition) %></td>
        <td><%= link_to 'Excluir', acquisition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar Nova Aquisição', new_acquisition_path %>
