
<div class="row">
  <div class="col">
    <p>
      <label>Motivo da compra:</label>
      <%= @acquisition.reason %>
    </p>

    <p>
      <label>Fornecedor:</label>
      <%= @acquisition.supplier %>
    </p>

    <p>
      <label>Valor Total:</label>
      <%= number_to_currency @acquisition.totalValue %>
    </p>
  </div>

  <div class="col">
      <p>
        <label>Local de alocação:</label>
        <%= link_to @acquisition.allocation.destination, @acquisition.destination, class: "text-info" %>
      </p>

      <p>
        <label>Operador responsável:</label>
        <%= link_to @acquisition.operator.name, @acquisition.operator, class: "text-info" %>
      </p>

      <p>
        <label>Número da nota:</label>
        <%= @acquisition.invoice_number %>
      </p>
  </div>
</div>

<div class="row text-center">
  <div class="col-6">
    <h5>Items</h5>
    <% if @acquisition.items.any? %>
      <table class="table table-sm table-hover">
        <tr>
          <th class="col-3" scope="col">Plaqueta</th>
          <th class="col-6" scope="col">Descrição</th>
          <th class="col-3" scope="col">Valor</th>
        </tr>
      <% @acquisition.items.each do |item| %>
        <tr scope="row">
          <td class="col-3"><%= link_to item.plate, item_path(item), class:"text-info"%></td>
          <td class="col-6"><%= item.description %></td>
          <td class="col-3"><%= number_to_currency item.value %></td>
        </tr>
      <% end %>
      </table>
    <% else %>
      Não existem items de estoque nesta aquisição
    <% end %>
  </div>
  <div class="col-6">
    <h5>Items de Estoque</h5>
    <% if @acquisition.stock_item_groups.any? %>
      <table class="table table-sm table-hover">
        <tr>
          <th class="col-9" scope="col">Descrição</th>
          <th class="col-3" scope="col">Quantidade</th>
        </tr>
      <% @acquisition.stock_item_groups.each do |item| %>
        <tr scope="row">
          <td class="col-9"><%= item.stock_item.short_description %></td>
          <td class="col-3"><%= item.quantity %></td>
        </tr>
      <% end %>
      </table>
    <% else %>
      Não existem items de estoque nesta aquisição
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-6">
    <%= link_to 'Editar', edit_acquisition_path(@acquisition), class: "btn btn-primary" %>
  </div>
</div>

