
<div class="row">
  <div class="col">
    <p>
      <label>Motivo da compra:</label>
      <%= @acquisition.allocation.reason %>
    </p>

    <p>
      <label>Fornecedor:</label>
      <%= @acquisition.supplier %>
    </p>

    <p>
      <label>Valor Total:</label>
      <%= number_to_currency @acquisition.totalValue %>
    </p>
  </div>

  <div class="col">
      <p>
        <label>Local de alocação:</label>
        <%= link_to @acquisition.allocation.placement, placement_path(@acquisition.allocation.placement), class: "text-info" %>
      </p>

      <p>
        <label>Operador responsável:</label>
        <%= link_to @acquisition.operator.name, operator_path(@acquisition.operator), class: "text-info" %>
      </p>
  </div>
</div>

<% if @acquisition.items.any? %>
  <h4 class="text-center">Items:</h4>
  <table class="table table-sm table-hover text-center">
    <tr>
      <th scope="col">Plaqueta</th>
      <th scope="col">Descrição</th>
      <th scope="col">Número de serie</th>
      <th scope="col">Valor</th>
    </tr>
  <% @acquisition.items.each do |item| %>
    <tr scope="row">
      <td><%= link_to item.plate, item_path(item), class:"text-info"%></td>
      <td><%= item.description %></td>
      <td><%= item.serial %></td>
      <td><%= number_to_currency item.value, :locale => :pt_BR %></td>
    </tr>
  <% end %>
  </table>
<% end %>

<div class="row">
  <div class="col-6 offset-6">
    <%= link_to 'Editar', edit_acquisition_path(@acquisition), class: "btn btn-primary btn-block text-white" %>
  </div>
</div>

