
<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td><label>Número da nota:</label></td>
        <td><%= @acquisition.invoice_number %></td>
      </tr>
      <tr>
        <td><label>Fornecedor:</label></td>
        <td><%= @acquisition.supplier %></td>
      </tr>
      <tr>
        <td><label>Valor Total:</label></td>
        <td><%= number_to_currency @acquisition.totalValue %></td>
      </tr>
    </table>
  </div>

  <div class="col">
    <table class="table">
      <tr> <td colspan="2"><%= link_to fa_icon(:pencil, text: "Editar"), edit_acquisition_path(@acquisition), class: "btn btn-primary btn-block" %></td> </tr>
      <tr>
        <td><label>Local de alocação:</label></td>
        <td><%= link_to @acquisition.allocation.destination, @acquisition.destination, class: "text-info" %></td>
      </tr>
      <tr>
        <td><label>Operador responsável:</label></td>
        <td><%= link_to @acquisition.operator.name, @acquisition.operator, class: "text-info" %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <tr>
        <td><label>Motivo da compra</label></td>
        <td><%= simple_format @acquisition.reason %></td>
      </tr>
    </table>
  </div>
</div>

<div class="row text-center">
  <div class="col border rounded p-2 m-2">
    <h5 class="d-inline">Items</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @items, fa_icon("chevron-left"), param_name: :items_page %>
      <%= link_to_next_page @items, fa_icon("chevron-right"), param_name: :items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th class="col-3" scope="col">Plaqueta</th>
        <th class="col-6" scope="col">Descrição</th>
        <th class="col-3" scope="col">Valor</th>
      </tr>
    <% @items.each do |item| %>
      <tr scope="row">
        <td class="col-3"><%= link_to item.plate, item_path(item), class:"text-info"%></td>
        <td class="col-6"><%= item.description %></td>
        <td class="col-3"><%= number_to_currency item.value %></td>
      </tr>
    <% end %>
      <tr> <td colspan="3"> <small> <%= page_entries_info @items %> </small> </td> </tr>
    </table>
  </div>
  <div class="col border rounded p-2 m-2">
    <h5 class="d-inline">Items de Estoque</h5>
    <div class="d-inline float-right">
      <%= link_to_prev_page @stock_item_groups, fa_icon("chevron-left"), param_name: :stock_items_page %>
      <%= link_to_next_page @stock_item_groups, fa_icon("chevron-right"), param_name: :stock_items_page %>
    </div>
    <table class="table table-sm table-hover">
      <tr>
        <th class="col-9" scope="col">Descrição</th>
        <th class="col-3" scope="col">Quantidade</th>
      </tr>
    <% @stock_item_groups.each do |item| %>
      <tr scope="row">
        <td class="col-9"><%= item.stock_item.short_description %></td>
        <td class="col-3"><%= item.quantity %></td>
      </tr>
    <% end %>
      <tr> <td colspan="2"> <small> <%= page_entries_info @stock_item_groups %> </small> </td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-6 offset-6">

  </div>
</div>

