<p id="notice"><%= notice %></p>

<p>
  <strong>Motivo da compra:</strong>
  <%= @acquisition.reason %>
</p>

<p>
  <strong>Fornecedor:</strong>
  <%= @acquisition.supplier %>
</p>

<p>
  <strong>Valor Total:</strong>
  <%= @acquisition.totalValue %>
</p>

<p>
  <strong>Local de alocação:</strong>
  <%= link_to @acquisition.allocation.placement.to_s, placement_path(@acquisition.allocation.placement) %>
</p>

<p>
  <strong>Operador responsável:</strong>
  <%= link_to @acquisition.operator.name, operator_path(@acquisition.operator) %>
</p>

<% if @acquisition.items.any? %>
<p>
  <strong>Items:</strong>
  <% @acquisition.items.each do |item| %>
    <table>
      <tr>
        <th>Plaqueta</th>
        <th>Tipo</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Número de serie</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td><%= link_to item.plate, item_path(item) %></td>
        <td><%= item.item_type.name %></td>
        <td><%= item.brand %></td>
        <td><%= item.model %></td>
        <td><%= item.serial %></td>
        <td><%= item.value %></td>
      </tr>
    </table>
  <% end %>
</p>
<% end %>

<%= link_to 'Editar', edit_acquisition_path(@acquisition) %> |
<%= link_to 'Voltar', acquisitions_path %>
