<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="opInfo">
  <% if (session[:user_id]) then %>
    Usuário logado: <%= current_user.name %>
  <% end %>
</div>

<%= yield %>

<%= link_to "Voltar", controller: "welcome" %>
<%= link_to "Log off", logout_path() %>
</body>
</html>
